@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    padding: 0;
    background-image: linear-gradient(45deg, rgba(76, 76, 253, 0.3) ,rgb(123, 123, 218) );
}
.container{
    width: 500px;
    border-radius: 10px;
    background-image: linear-gradient(75deg, rgb(0, 136, 255), rgba(57, 150, 231, 0.555));
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.pitanja{
   margin:10%;
   margin-top: 0;
   font-size: 1.5em;
   font-family: 'Rajdhani', sans-serif; 

}
h2{
    text-align: center;
}
button{
font-family: 'Rajdhani', sans-serif; 
font-size: 1.5em;
padding: 10px;
outline: none;
cursor: pointer;
border: none;
}
